<div class="col-md-6 mb-4">
	<div class="card mb-3" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="{{asset('uploads/Logo.png')}}" class="img-fluid rounded-start" alt="Logo de l'entreprise" style="height: 100%; width: 100%; object-fit: cover;"/>
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">Nom de l'entreprise</h5>
					<p class="card-text">Brève description de l'entreprise.</p>
					<p class="card-text">
						<i class="bi bi-geo-alt-fill"></i>
						Adresse: 123 Rue de l'entreprise, Ville, Pays<br>
						Téléphone: +33 1 23 45 67 89<br>
						Email: info@entreprise.com
					</p>
					<a href="mailto:info@entreprise.com" class="btn button me-3">Envoyer un email</a>
					<a href="tel:+33123456789" class="btn button">Appeler</a>
				</div>
			</div>
		</div>
	</div>
</div>
