<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<h1>Candidature envoyée</h1>

		<p>
			Une candidature a été envoyé par
			<br><br>

		</p>

		<p>
			La team JobDate.
		</p>
	</body>
</html>
