<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<h1>Mot de passe oublié</h1>

		<p>
			Bonjour, ci-joint le lien pour changer votre mot de passe sur le site JobDate.
			<br><br>
			{# <a href="{{ signedUrl|raw }}">Confirmer mon email</a>. #}
			This link will expire in
			{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
		</p>

		<p>
			La team JobDate.
		</p>
	</body>
</html>
